# Игнорировать папки сборки
build/
*/build/
*/*/build/

# Игнорировать папку GitLab Runner CI
builds/
*/builds/
*/*/builds/

# Игнорировать файлы сгенерированные во время сборки
*.obj
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.o
*.so
*.dylib

# Node.js / Vite
node_modules/
*/node_modules/
dist/
*/dist/

# Секреты окружения
.env
*/.env

